*,
*:before,
*:after {
  box-sizing: border-box;
}

/* readme.md base css code */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
  }
  
  .icon {
    font-size: 4rem;
  }

/* my css */
  .siteheader {
    width: 850px;
    margin: 0 auto;
  }

/* flex properties */
  .emojis {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
  }

  /* referenced/learned from https://stackoverflow.com/questions/37449725/flex-order-property-not-working-as-expected */
  .emoji {
    display: flex;
    flex-direction: column;
  }

  span {
    text-align: center;
    order: -1;
  }

  /* referenced/learned from https://www.samanthaming.com/flexbox30/31-flexbox-with-auto-margins/ */
  a {
    margin-top: auto;
  }

/* grid properties */
  .emojis {
    display: grid;
    grid-template-rows: 300px 350px;
    grid-template-columns: 35% 35%;
    grid-template-areas:
    "smile beer"
    "tears seed";
    gap: 15px;
  }

  .emoji:nth-child(1) {
    grid-area: smile;
  }

  .emoji:nth-child(2) {
    grid-area: beer;
  }

  .emoji:nth-child(3) {
    grid-area: tears;
  }

  .emoji:nth-child(4) {
    grid-area: seed;
}